@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


/* font-family: 'Miama', cursive; */



/* header style */


.header{
    width: 1300px;
    background: linear-gradient(180.00deg, rgb(17,17,17), rgb(119, 119, 119, 0) 100%);
}

/* shared styles */

.displya-flex{
    display: flex;
}

.btn-primary{
    background-color: #E6533C;
}

/* nav sytle */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-left: 190px;
    margin-right: 190px;
}

.nav-title{
    color: rgb(230, 83, 60);
}

.banner-title{
    font-weight: 900;
    font-size: 4rem;
    color: rgb(255, 255, 255);;
    background-color: ;
}

.banner-title-1{
    font-family: 'Miama', cursive; */
    font-weight: 400;
    font-size: 4rem;

}

.nav-link{
   cursor: pointer;
   color: white;
   text-decoration: none;
}

.nav-item{
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    margin-right: 30px;
    color: white;

    
}

.nav-btn {
    width: 92px;
    height: 37px;
    color: white;
    border-radius: 46px;
    font-weight: 600;
    font-size: 1rem;
}

/* nav style end */

/* banner styles */
.banner{
    margin-left: 190px;
    margin-right: 190px;
}

.banner-content{
    width: 599px;
    margin-top: 97px;
}


.banner-btn-1{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    font-size: 1rem;
    padding: 16px 40px 16px 40px;
    gap: 14px;
}


.banner-btn-2{
    width: 224px;
    height: 54px;
    box-sizing: border-box;
    border: 1px solid rgb(20, 19, 19);
    border-radius: 42px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding: 16px 40px 16px 40px;
    stroke: 1px inside rgb(255, 255, 255);
    background-color: black;
}

.banner-greetings{
    width: 349px;
    margin-top: 34px;
    margin-left: 88px;
}
.banner-description{
    text-wrap: wrap;
}



.experiance-btn{
    position: relative;
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px soli rgba(255, 255, 255, 0.1) ;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background-color:rgba(48, 48, 48, 0.54) ;
    margin-right: -100px;
    margin-top: -100px;
}


/* ball */
.ball{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 600px;
    margin-top: -70px;
    margin-left: 300px;
}
.btn-font-1{
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    text-align: left;
}


.btn-font-2{
    font-weight: 900;
    color: rgb(255, 255, 255);
   font-size: 2.5rem;
   text-align: left;
   
}

/* responsive styles */

.menu-bar{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-bar .bar{
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}
    

/* responsive mobile device */
@media screen and (max-width:576px) {
    .header{
        width: 393px;
        height: 1024px;
    }
    .navbar{
        width: 340px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
    }    

    .nav-links.active{
        display: flex;
    } 
    .nav-item{
        margin: 10px 0;
    }

    .menu-bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner{
        margin: 0px;
    }

    .banner{
        flex-direction: column;
        /* width: 393px;
        height: 1024px; */
        margin-left: 20px;
        margin-right: 20px;
    }
    .banner-title{
        width: 352px;
    }
    .banner-description{
        width: 300px;
        text-wrap: wrap;
    }
    .banner-btn-1{
        width: 169px;
        font-size: 0.75rem;
    }
    .banner-btn-2{
        width: 140px;
        height: 54px;
        font-size: 0.75rem;
    }
    .banner-greetings{
        width: 353px;
        margin-left: 10px;
    }

    .ball{
        margin-left: -570px;
    }
}