/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');

.miama-font{
    /* font-family: 'Miama', sans-serif; */
                                                
}
/* font */

.header{
    /* background: linear-gradient(180.00deg, rgb(17,17,17), rgb(119, 119, 119, 0) 100%); */
    background-color: rgb(49, 47, 47);
}

/* shared styles */

.display-flex{
    display: flex;
}

/* .secondary-bg{
    color: rgb(230, 83, 60);
} */

.btn-primary{
    background-color: #E6533C;
}

.text-gray{
    color: rgba(255, 255, 255, 0.5);
}

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.nav-title{
    color: #E6533C;
    font-size: 2rem;
    font-weight: 800;
}

.link-container{
    width: 448px;
    height: 61px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 46px;
   
}

.nav-link{
    cursor: pointer;
    color: white;
    text-decoration: none;
   
}

.nav-item-1{
    width: 80px;
    height: 20px;
    background-color: #E6533C;
    list-style: none;
    margin-right: 30px;
    color: white;
    border-radius: 24px;
    text-align: center;
    padding: 5px;
    font-size: 1rem;
 }



.nav-item{
   justify-content: space-between;
   flex-direction: row;
   list-style: none;
   margin-right: 30px;
   color: white;
   padding: 5px;
   font-size: 1rem;
}


/* nav style end */

/* banner styles */

.banner{
    margin-left: 100px;
    margin-right: 100px;
}


.banner-content{
   
}

.banner-title{
    font-weight: 800;
    font-size: 3rem;
    color: white;
}

.banner-title-1 {
    font-family: 'Miama', sans-serif;
    font-size: 2rem;
}

.banner-btn-1{
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 42px;
    font-size: 1rem;
    padding: 16px 40px 16px 40px;
    border: none;
    transition: transform 1s;

}

.banner-btn-1:hover{
    transform: calc(.5);
}


.banner-btn-2{
    width: 200px;
    height: 50px;
    /* box-sizing: border-box; */
    border: 1px solid rgb(20, 19, 19);
    border-radius: 42px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding: 16px 40px 16px 40px;
    stroke: 1px inside rgb(255, 255, 255);
    background-color: rgb(31, 30, 30);
    border: 1px solid white;
}


.experiance-btn{
    background-color:rgba(37, 29, 29, 0.54) ;
    position: relative;
    width: 190px;
    height: 90px;   
    box-sizing: border-box;
    border: 1px soli rgba(255, 255, 255, 0.1) ;
    border-radius: 12px;
    margin-top: 400px;
     margin-left: 100px;
    margin-right: -170px;
    color: white;
    border: none;
    
} 


.banner-img{
    /* position: relative; */
    margin-left: 830PX;
}


.ball{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 50%;
    margin-top: 430px;
    margin-right: -780px;

}


.experiance-btn-1{
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    width: 206px;
    height: 96px;
    box-sizing: border-box; 
    border: 1px soli rgba(255, 255, 255, 0.1) ;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    color: white;
    margin-top: 140px;
    margin-left: -100px;
    border: none;
    text-align: left;
    padding-left: 40px;
} 



.banner-description{
    /* width: 400px; */
    /* color: rgba(255, 255, 255, 0.5); */
    
}


.btn-font-1{
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
    color: rgb(250, 250, 249);
   
    
}



.btn-font-2{
    font-weight: 900;
    color: rgb(255, 255, 255);
   font-size: 2.5rem;
   text-align: left;
   
}


/* habits styles */

.habit-bg{
    /* background-color: black; */
    padding-top: 50px;
    padding-bottom: 90px;
   
}



.habit-container{
    text-align: center;
    color: white;
    padding-bottom: 20px;
}



.img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
    
}

.habit-img{
    justify-items: center;
    border-radius: 50%;
    align-items:center;
    margin-left: 40px;
    transition: transform 1s;
}
.habit-img:hover{
    transform: scale(1.5);

}


.img-title{
    color: white;
    /* padding-left: 40px; */
    padding-bottom: 0px;
    /* margin-left: 50px; */
    text-align: center;
}

.img-description{
    color: white;
    font-size: .75rem;
    /* margin-left: 60px; */
    text-align: center;
    color: rgb(139, 137, 137);
}

/* Run section style */

.run-bg{
    
    
}

.run-container{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 150px;
    padding-bottom: 50px;
    box-shadow: 0px 6px 15px 0px rgb(206, 186, 186);
    border-radius: 24px;
    background-color: rgb(32, 31, 31);
    padding-left: 50px;
    padding-right: 50px;


}


.run-title{
    margin-top: 60px;
    margin-right: 0px;
}

.run-sub-title{
    font-weight: 800;
    font-size: 3REM;
    color: white;
}

.run-description{
    color: rgb(139, 137, 137);
}

.run-img{
    width: 500px;
    margin-top: 60px;
    border-radius: 20px;
    /* object-fit: none;
    object-position: 66% 33%; */
}

.run-btn {
    width: 180px;
    height: 50px;
    border-radius: 36px;
    color: white;
    border: none;
    transition: transform 1s;
}

.run-btn:hover{
    transform: scale(1.5);
}
/* responsive style menubar */


.menu-bar{
   
    flex-direction: column;
}

.menu-bar .bar{
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
    transition: 0.6s;
}

/* Calculate styles */

.calculate-container{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(49, 48, 48);
}

.calcilate-title{
    margin-left: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    
}
.calculate-sub-title{
    font-weight: 700;
    font-size: 3rem;
}

.bmi-description{
    color: rgb(196, 189, 189);
}
.calculate-description{
   
    font-size: 0.75rem;
    
}

.chart-title{
    color: white;
}

.bmi-title{
    color: white;
}




table{
    border-collapse: collapse;
}

td, th{
    border: 2px solid rgb(155, 151, 151);
    padding: 15px 20px;
    color: rgb(136, 133, 133);
}
.calculate-chart{
    padding-top: 50px;
    padding-bottom: 100px;
   
}
.calculate-bmi{
    padding-top: 50px;
    
}

.bmi-container{
    width: 60% 60%;
}
.bmi-2{
    width: 252px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.bmi-1{
    width: 252px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
    /* margin-left: 5px; */
    border: none;
}
.bmi-5{
    width: 513px;
    height: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: none;
}
.btn-bmi{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 1rem;
    
}


/* trainer team style */

.team-bg{
    color: white;
    padding-bottom: 60px;
}

.team-title{
    padding-top: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    
}



.team-description{
    text-align: center;
    font-size: 1.2rem;
    color: rgb(126, 106, 106);
    padding-bottom: 70px;
    
}

.trainer-layout{
    /* width: 1060px;
    height: 604px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    margin-left: 100px;
    margin-right: 140px;
    /* box-shadow: 0px 6px 15px 0px rgb(206, 186, 186); */
    background: rgba(255, 255, 255, 0.1) ;
    border-radius: 24px;
    padding: 20px;
}



.trainer-img{
    width: 326px;
    height: 272px;
    /* box-shadow: 0px 6px 10px 0px rgb(206, 186, 186); */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    margin-right: 20px 0px;
}


.trainer-title{
    position: absolute;
    margin-top: -60PX;
    margin-left: 20px;
    font-size: 1rem;
    transition: transform 1s;
}

.trainer-title:hover{
    transform: scale(1.5);
    margin-left: 40px;
    
}

.trainer-description{
    position: absolute;
    margin-top: -40PX;
    margin-left: 20px;
    font-size: 0.75rem;
    color: rgb(126, 106, 106);
}


/* footer styles */
.fitness-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    justify-content: center;
    gap: 50px;
    /* box-shadow: 0px 0px 20px 0px; */
    border-bottom: 2px solid rgb(80, 78, 78);
    margin-left: 100px;
    margin-right: 120px;
    padding: 60px 0px 50px 70px;
}

.fitness-title{
    font-size: 4rem;
    color: #E6533C;
}
.fitness-description{
    color: rgb(161, 156, 156);
}
/* .about-layout{
    color: white;
} */

.about-container{
    color: white;
}
.about-list li{
    color: rgb(117, 113, 113);
    list-style: none;
    font-size: 1.5rem;
    padding: 10px;
}

.copy-right-bar{
    text-align: center;
    padding: 15px;
    color: rgb(155, 149, 149);
}

/* responsive mobile device */

@media screen and (max-width:576px) {
    .navbar{
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .link-container{
        display: none;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        
    }


    .menu-bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner{
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .banner-img{
        /* position: relative; */
        margin-left: 20PX;
    }


    .banner-btn-1{
        width: 160px;
        height: 60px;
        text-align: center;
        transition: transform 1s;
    }
    .banner-btn-1:hover{
        transform:  scale(.5);
     }

     .banner-description{
        font-size: .75rem;
        font-weight: 600px;
    }

    .banner-btn-2{
        position: absolute;
        width: 160px;
        height: 60px;
        text-align: center;
    }

    /* btn- 350+ এর কাজ */
    .experiance-btn{
        position: absolute;
        margin-top: 350px;
        margin-left: -120px;
    }


   .ball{
        position: absolute;
        margin-top: 800px;
        margin-right: 180px;
        
    }

    .experiance-btn-1{
        position: absolute;
        margin-top: -420px;
        margin-left: 20px;
        width: 150px;
    }
    .banner-title{
        font-weight: 500px;
        font-size: 3rem;
    }


    .banner-greetings{
    margin-left: 20px;
    margin-right: 20px;
    }

    .img-container{
        grid-template-columns: repeat(1, 1fr);
        
    }

    .img-description{
        text-align: center;
    }


    .calculated-sec{
        margin-left: 20px;
        margin-right: 20px;
    }

    .calcilate-title{
        margin-left: 20px;
    }

    .calculate-container{
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .calculate-bmi{
       text-align: center;
    }
    .bmi-5{
        width: 255px;
    }
    .habit-img{
        justify-content: center;
        /* margin-left: 20px; */
        align-items: center;
    }

    .img-title{
        text-align: left;
        /* margin-left: 20px; */
        text-align: center;
        
    }
    .img-description{
        text-align: center;
        text-wrap: wrap;
        margin-left: 20px;
    }
    .run-container{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        padding-left: 10px;
    }
    .run-title{
       text-align: left;
       margin-left: 20px;
       gap: 20px;
    }

    .run-btn{
        width: 250px;
        transition: transform 1s;
    }

    .run-btn:hover{
        transform: scale(.75);
    }
    .run-img{
        margin-left: 90px;
        margin-right: 50px;
        width: 300px;
        
    }

    .trainer-layout{
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-left: 15px;
        margin-right: 15px;    
    }
   
    .trainer-img{
        width: 290px;
       margin-left: -10px;
       margin-right: -10px;
        
    }

    .fitness-layout{
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: repeat(1,1fr);
        padding-left: 20px;
    }
    .fitness-container{
       
    }
    
}



@media screen and (min-width:576px) and (max-width:992px) {
            
            .banner-btn-1{
                margin-bottom: 20px;
            }
            .trainer-layout{
                grid-template-columns: repeat(2,1fr);
                margin-left: 20px;
                margin-right: 20px;

            }
}


@media screen and (min-width:992px) and (max-width:1350px) {
    .banner-btn-1{
        margin-bottom: 20px;
    }
    .run-container{
        margin-left: 50px;
        margin-right: 50px;
    }
    .trainer-layout{
        margin-left: 20px;
        margin-right: 20px;
    }
    

    .trainer-img{
        margin: -8px;
        gap: 20px;
    }

    .fitness-layout{
        margin-left: 10px;
        margin-right: 30px;
    }
}